<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/collection.css" type="text/css">

    <link rel="stylesheet" href="/assets/new.css" type="text/css">

 </head>


<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- logo-fix:start -->

                <a href="/"><div class="logo-wrapper">

                    <img id="logocollection1" class="logo" src="/assets/logo.png">
                    <img id="logocollection2" class="logo" src="/assets/logoblack.png">
                </div>
                </a>
                <!-- logo-fix:end -->
               

            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li>
                        <%= link_to 'Campaign', campaign_path, class: 'page-scroll' %>
                    </li> 
                   
                    <li>
                        
                        <%= link_to 'Collection', collection_path, class: 'page-scroll' %>
                        
                       
                    </li>
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



<div class="orderbackground">


<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <div class="orderform">
    <div class="pleaseenter">
    <p align="middle">請輸入您的資料，將會有專人24小時內與您聯絡</p>
    </div>
      <%= form_for @order do |f| %>
      <div class="firstorderformfield">
        <div class="orderformfield">
         
          <%= f.text_field :name, class: 'form-control',:placeholder => "姓名" %>
        </div>
        </div>
        <div class="orderformfield">
          
          <%= f.email_field :email, class: 'form-control',:placeholder => "信箱" %>
        </div>

        <div class="lastorderfield">
        <div class="orderformfield">
          <%= f.text_field:phone, class: 'form-control',:placeholder => "手機" %>
        </div>
        </div>
        <div class="pleaseenter">
        <p align="middle">設計總監會跟您在東區旗艦店進行1對1客製服務</p>
        </div>
        <%= f.submit '現在預約獲得500元購物金', class: 'orderbutton' %>
      <% end %>
    </div>

  </div>
</div>

</div>

